body {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(124,124,124,1) 50%, rgba(0,0,0,1) 100%);
  align-content: center;
  font-family: 'Ariel';
 }
     
 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  width: 100vw;
 }
 
 #container {
  width: 300px;
  padding: 8px 8px 20px 8px;
  margin: 20px auto;
  background: rgb(66, 66, 66);
  border-radius: 50px;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #C1C1C1;
  border-left: 2px solid #C1C1C1;
 }
 
 #display {
  display: block;
  margin: 15px auto;
  height: 42px;
  width: 174px;
  padding: 0 10px;
  border-radius: 4px;
  border-top: 2px solid #C1C1C1;
  border-right: 2px solid #C1C1C1;
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  background-color: #FFF;
  box-shadow: inset 0px 0px 10px #030303, inset 0px -20px 1px rgba(150, 150, 150, .2);
  font-size: 28px;
  color: #666;
  text-align: right;
  font-weight: 400;
 }
 
 .button {
  display: inline-block;
  margin-left: 25px;
  margin-right: 10px;
  width: 42px;
  height: 42px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
 }
 
 .mathButtons {
  display: inline-block;
  margin: 2px 2px 6px 2px;
  color: lightblue;
  background-color: #373737;
  border-top: 2px solid #C1C1C1;
  border-right: 2px solid #C1C1C1;
  border-bottom: 2px solid #181818;
  border-left: 2px solid #181818;
  }
 
 .digits {
  color: white;
  background-color: rgb(66, 66, 66);
  border-top: 4px solid #FFF;
  border-right: 4px solid #FFF;
  border-bottom: 4px solid #C1C1C1;
  border-left: 4px solid #C1C1C1;
  border-radius: 4px;
 }
 
 .digits:hover,
 .mathButtons:hover {
  background-color: rgb(176, 176, 176);
 }
 
 #clearButton:hover {
    background-color: rgb(135, 30, 30);
 }
 
 #clearButton {
  color: #FFF;
  text-shadow: -1px -1px 0px #44006F;
  background-color: #D20000;
  border-top: 4px solid #FF8484;
  border-right: 4px solid #FF8484;
  border-bottom: 4px solid #800000;
  border-left: 4px solid #800000;
 }
 
 #rcorners {
  border-radius: 25px;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #C1C1C1;
  border-left: 2px solid #C1C1C1;
  padding: 20px;
  width: 200px;
  height: 150px;
 }