@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  box-sizing: border-box;
  font-family: "Ubuntu";
  background-color: #f4efef;
}

.header {
  align-items: center;
  justify-content: center;
  color: #555555;
  padding: 1em;
}

.timer-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.stats-container {
  display: block;
  min-width: 20vw;
  padding: 0.8rem;
  border-radius: 20%;
  background-color: darkgrey;
  box-shadow: rgb(0, 0, 0, 0.5) 5px 8px 5px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  /* padding-bottom: 5px; */
  font-weight: bold;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.paragraph {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  font-family: monospace;
}

.butun {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .inputArea {
     margin-top: 2rem;
     padding-top: 5rem;
 }

.stop-time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

@media (max-width: 375px) {
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
